<div class="wrapper">
  <div class="app-sidebar" data-active-color="white" data-background-color="black" data-image="assets/img/sidebar-bg/01.jpg">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background"></div>
  </div>
  <div class="main-panel">
    <app-navbar></app-navbar>

    <div class="main-content">
      <div class="content-wrapper">
        <div class="container-fluid">
          <!-- Start Add New Event-->
          <section id="advanced">
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Add new Module </h4>
                  </div>
                  <div class="card-body">
                    <div class="card-block">
                      <form #f="ngForm" (ngSubmit)="onSaveModule(f.value)" novalidate>
                        Module Name
                        <input class="form-control" ngModel="" type="text" name="nom"  placeholder="Module Name" required/>
                        <br>
                        Duration
                        <input class="form-control" ngModel="" type="number" name="duree"  placeholder="Module duration (minutes)" required/>
                        <br>
                        Number of question
                        <input class="form-control" ngModel="" type="number" name="nbr_questions"  placeholder="number of questions" required/>
                        <br>
                        Level
                        <select  class="form-control"  name="level" [(ngModel)]="level" required>
                          <option value="1">Level 1</option>
                          <option value="2">Level 2</option>
                          <option value="3">Level 3</option>
                          <option value="4">Level 4</option>
                          <option value="5">Level 5</option>
                          <option value="6">Level 6</option>
                          <option value="7">Level 7</option>
                          <option value="8">Level 8</option>
                        </select>
                        <br> <br>
                        <button [disabled]="!f.valid"  type="submit" class="btn btn-primary">Save</button>
                        <button type="button" (click)="returnToModule()" class="btn btn-danger">Cancel</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!--End Add New Event-->
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
