<div class="wrapper">
  <div class="app-sidebar" data-active-color="white" data-background-color="black"
       data-image="assets/img/sidebar-bg/01.jpg">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background"></div>
  </div>
  <div class="main-panel">
    <app-navbar></app-navbar>

    <div class="main-content">
      <div class="content-wrapper">
        <div class="container-fluid">
          <!-- Start Add New Event-->
          <section id="advanced">
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Update Question </h4>
                  </div>
                  <div class="card-body">
                    <div class="card-block">
                      <div class="form-group">

                        <!--  Answers part start !-->
                        <label class="control-label">Module name:</label>
                        <br>
                        <select  class="form-control" [(ngModel)]="ModuleName" name="module">
                          <option *ngFor="let m of modules" [ngValue]="m" required="true">{{m.nom}}</option>
                        </select>
                      </div>
                      <input class="form-control" [(ngModel)]="question.questionName" type="text" name="questionName"  placeholder="Question Name" required/>
                      <br/>
                      <br>

                      <label class="control-label">Answer:</label>
                      <hr>
                      <input class="form-control" [(ngModel)]="tab[0].answerName" type="text" name="response1"  placeholder="Answer option 1" required/>
                      <label>Correct answer
                        <input type="checkbox" [(ngModel)]="tab[0].correct"  name="checkbox1" value="true">
                      </label><br/>
                      <br/>
                      <input class="form-control" [(ngModel)]="tab[1].answerName" type="text" name="response2"  placeholder="Answer option 2" required/>
                      <label>Correct answer
                        <input type="checkbox" [(ngModel)]="tab[1].correct"  name="checkbox2" value="true">
                      </label><br/>
                      <br/>
                      <input class="form-control" [(ngModel)]="tab[2].answerName" type="text" name="response3"  placeholder="Answer option 3" required/>
                      <label>Correct answer
                        <input type="checkbox" [(ngModel)]="tab[2].correct"  name="checkbox3" value="true">
                      </label><br/>
                      <br/>
                      <input class="form-control" [(ngModel)]="tab[3].answerName" type="text" name="response4"  placeholder="Answer option 4" required/>
                      <label>Correct answer
                        <input type="checkbox" [(ngModel)]="tab[3].correct"  name="checkbox4" value="true">
                      </label><br/>
                      <button  class="btn btn-primary" (click)="updateQuestion()">Save</button>
                      <button type="button" (click)="returnToQuiz()" class="btn btn-danger">Cancel</button>
                      <!--  Answers part End !-->

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!--End Add New Event-->
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
