<div class="wrapper">
  <div class="app-sidebar" data-active-color="white" data-background-color="black"
       data-image="assets/img/sidebar-bg/01.jpg">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background"></div>
  </div>
  <div class="main-panel">
    <app-navbar></app-navbar>

    <div class="main-content">
      <div class="content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">
                  <div class="card-header">
                    <h4 class="card-title" translate>Contact Us</h4>
                  </div>
                  <div class="card-block">
                    <!--contact Start-->
                    <form #f="ngForm" (ngSubmit)="onSend(f.value)">
                      <div class="form-group">
                        <label class="control-label">Message</label>
                        <textarea class="form-control" [(ngModel)]="message" type="text" name="message" required></textarea>
                        <input type="hidden" name="user" [(ngModel)]="user" >
                        <input type="hidden" name="documentPath" [(ngModel)] = "documentPath" >
                      </div>
                      <div class="form-group">
                        <button type="submit" [disabled]="!f.valid" data-dismiss="modal" class="btn btn-success float-lg-right">
                          <span translate>Send</span>
                        </button>
                      </div>
                    </form>
                    <!--contact Ends-->
                    <br>
                    <div class="card-header">
                      <h4 class="card-title" (click)="divDocument ();" translate>Click here to add document</h4>
                    </div>
                    <!--UploadFole Starts-->
                    <div *ngIf="documentDisplay">
                    <section id="file-upload">
                      <div class="card">
                        <br>
                        <label>Module
                          <select  class="form-control" [(ngModel)]="ModuleName" name="module">
                            <option *ngFor="let m of modules" [ngValue]="m">{{m.nom}}</option>
                          </select></label>

                        <div class="card-header">
                          <h4>Upload Documents</h4>
                        </div>
                        <div class="card-block">
                          <!-- Drop zone Starts-->
                          <div class="row">
                            <div class="col-md-12 col-lg-6">
                              <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader" class="py-5 mb-3 text-center font-medium-5 text-uppercase grey my-drop-zone">
                                Dropzone
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3">
                              <h4 translate>Selected files</h4>
                              <label class="custom-file">
                                <input type="file" ng2FileSelect [uploader]="uploader" class="custom-file-input">
                                <span class="custom-file-control"></span>
                              </label>
                            </div>

                            <div class="col-md-9">
                              <p> <span translate>Queue length</span>  {{ uploader?.queue?.length }}</p>

                              <table class="table">
                                <thead>
                                <tr>
                                  <th width="50%" translate>Name</th>
                                  <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let item of uploader.queue">
                                  <td><strong>{{ item?.file?.name }}</strong></td>
                                  <td nowrap>
                                    <button type="button" class="btn btn-raised btn-success btn-sm" (click)="upload(item._file)" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                      <span class="fa fa-upload" >Upload</span>
                                    </button>
                                    <button type="button" class="btn btn-raised btn-danger btn-sm" (click)="item.remove()">
                                      <span class="fa fa-trash" translate>Remove</span>
                                    </button>
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                              <div>
                                <p translate>Queue progress
                                  <ngb-progressbar type="primary" [value]="uploader.progress"></ngb-progressbar>
                                </p>
                                <button type="button" class="btn btn-raised btn-success" (click)="uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                                  <span class="fa fa-upload" translate> Upload all</span>
                                </button>
                                <button type="button" class="btn btn-raised btn-warning" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                                  <span class="fa fa-ban" translate> Cancel all</span>
                                </button>
                                <button type="button" class="btn btn-raised btn-danger" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                                  <span class="fa fa-trash" translate> Remove all</span>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                    </div>
                    <!--uploadFile Ends-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>

