<div class="wrapper">
  <div class="app-sidebar" data-active-color="white" data-background-color="black" data-image="assets/img/sidebar-bg/01.jpg">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background"></div>
  </div>
  <div class="main-panel">
    <app-navbar></app-navbar>

    <div class="main-content">
      <div class="content-wrapper">
        <div class="container-fluid">
          <!-- Start Add New Event-->
          <section id="advanced">
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title" translate>Add Picture to Question</h4>
                  </div>
                  <div class="card-body">
                    <div class="card-block">
                        <input class="form-control" [(ngModel)]="quiz.questionName" type="text" name="questionName" disabled/>
                        <br>
                        <br>
                        <label class="control-label" translate>Picture</label>
                        <div class="col-md-6 col-lg-2">
                          <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader"  (click)="fileOverBase($event);fileInput.click()" class="py-4 mb-2 text-center font-medium-5 text-uppercase grey my-drop-zone">
                            Click here
                          </div>
                          <input type="file" #fileInput ng2FileSelect [uploader]="uploader" style="display: none" name="urlPicture"/>
                        </div>
                        <div class="col-md-3 col-lg-5" >
                          <table class="table">
                            <tbody>
                            <tr *ngFor="let item of uploader.queue">
                              <td><strong>{{ item?.file?.name }}</strong></td>
                              <td nowrap>
                                <button type="button" class="btn btn-raised btn-success btn-sm" (click)="item.upload()" (click)="upload(item._file)" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                  <span class="fa fa-upload">Upload</span>
                                </button>
                                <button type="button" class="btn btn-raised btn-danger btn-sm" (click)="item.remove()">
                                  <span class="fa fa-trash" translate>Remove</span>
                                </button>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                      <button type="button" (click)="returnToQuiz()" class="btn btn-danger" translate>Skip this step</button>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </section>
          <!--End Add New Event-->
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>

