<div class="wrapper">
  <div class="app-sidebar" data-active-color="white" data-background-color="black"
       data-image="assets/img/sidebar-bg/01.jpg">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background"></div>
  </div>
  <div class="main-panel">
    <app-navbar></app-navbar>
    <div class="main-content">
      <div class="content-wrapper">
        <div class="container-fluid">
          <section id="advanced">
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Videos </h4>
                  </div>
                  <div class="card-body">
                    <div class="card-block">
                      <!--List videos start-->

                      <div class="modal-body">
                        <select class="form-control" [(ngModel)]="moduleName" name="module"  (change)="update()">
                          <option *ngFor="let m of modules" [ngValue]="m.nom" >{{m.nom}}</option>
                        </select>
                        <br>
                        <div class="form-group">
                          <label class="control-label">Video Name: </label>
                          <input class="form-control" [(ngModel)]="video.name" type="text" name="name" required/>
                        </div>
                        <div class="form-group">
                          <label class="control-label">URL: </label>
                          <input class="form-control" [(ngModel)]="video.url" type="text" name="url" #url="ngModel" url
                                 required/>
                          <p class="alert alert-danger" *ngIf="url?.errors?.url">Enter a valid url</p>
                        </div>
                        <div class="form-group">
                          <label class="control-label">Description:</label>
                          <textarea class="form-control" [(ngModel)]="video.description" type="text" name="description"
                                    required></textarea>
                        </div>
                        <div class="form-group">
                          <button type="button" data-dismiss="modal" class="btn btn-success" (click)="updateVideo()"
                                  [disabled]="url?.errors?.url">Submit
                          </button>

                          <button type="button" class="btn btn-danger" (click)="close()">Close</button>
                        </div>
                      </div>
                      <hr>
                      <!-- List videos Ends-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
