<!--Login Page Starts-->
<section id="login">
    <div class="container-fluid">
        <div class="row full-height-vh">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="card card-inverse gradient-indigo-purple text-center width-400">
                    <div class="card-img overlap">
                       <img alt="element 06" class="mb-1" src="../../../assets/img/portrait/avatars/avatar-02.png" width="190">
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                            <h2>Login</h2>
                          <div class="alert alert-danger" *ngIf="mode==1">
                            <strong>Bad credentials ...</strong>
                          </div>
                          <form #f="ngForm" (ngSubmit)="onLogin(f.value)">
                                <div class="form-group">
                                    <div class="col-md-12">
                                      <input class="form-control input-underline input-lg" ngModel="" type="text" name="username" required placeholder="username"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                      <input class="form-control input-underline input-lg" ngModel="" type="password" name="password" required placeholder="Password" />                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-pink btn-block btn-raised">Submit</button>
                                        <button type="button" class="btn btn-secondary btn-block btn-raised">Cancel</button>
                                    </div>
                                </div>
                          </form>
                        </div>
                    </div>
                  <div class="card-footer">
                    <div class="float-left"><a (click)="onForgotPassword()">Recover Password</a></div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Login Page Ends-->
