<div class="wrapper" xmlns:date="http://www.w3.org/1999/xhtml">
  <div class="app-sidebar" data-active-color="white" data-background-color="black" data-image="assets/img/sidebar-bg/01.jpg">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background"></div>
  </div>
  <div class="main-panel">
    <app-navbar></app-navbar>
    <div class="main-content">
      <div class="content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Update Module </h4>
                </div>
                <div class="card-body">
                  <div class="card-block">
                    <!-- formumaire update starts-->
                    Module Name
                    <input class="form-control" [(ngModel)]="module.nom" type="text" placeholder="Module Name" required/>
                    <br>
                    Duration
                    <input class="form-control" [(ngModel)]="module.duree" type="text" placeholder="Module duration (minute)" required/>
                    <br>
                    Number of question
                    <input class="form-control" [(ngModel)]="module.nbr_questions" type="text" placeholder="Module number of questions" required/>
                    <br>
                    <select  class="form-control"  name="level" [(ngModel)]="module.level">
                      <option value="1">Level 1</option>
                      <option value="2">Level 2</option>
                      <option value="3">Level 3</option>
                      <option value="4">Level 4</option>
                      <option value="5">Level 5</option>
                      <option value="6">Level 6</option>
                      <option value="7">Level 7</option>
                      <option value="8">Level 8</option>
                    </select> <br> <br>
                    <button class="btn btn-success" (click)="update()" >Save </button>
                    <button type="button" (click)="returnToModule()" class="btn btn-danger">Cancel</button>
                    <!-- formumaire update starts-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
