<div class="wrapper">
  <div class="app-sidebar" data-active-color="white" data-background-color="black"
       data-image="assets/img/sidebar-bg/01.jpg">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background"></div>
  </div>
  <div class="main-panel">
    <app-navbar></app-navbar>

    <div class="main-content">
      <div class="content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">
                  <div class="card-header">
                    <h4 class="card-title">Modules </h4>
                  </div>
                  <div class="card-block">
                    <!--List Events Start-->
                    <input type="text" [(ngModel)]="searchText" name="searchText" placeholder="Search...">
                    <hr>
                    <table show-filter="true" class="table">
                      <thead>
                      <tr>
                        <th>Title</th>
                        <th>Level</th>
                        <th>Operations</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let m of modules |filter: searchText | paginate: { itemsPerPage: 6, currentPage: p}">
                        <td>{{m.nom}} </td>
                        <td>{{m.level}}</td>
                        <td>
                          <div *ngIf="!m.totalQuestions">
                          <span class="d-inline-block" tabindex="0" placement="top" ngbTooltip="Admin Still working on it">
                            <button class="btn btn-outline-primary mr-1 mb-1" style="pointer-events: none;" type="button" disabled>Take the Quiz</button>
                          </span>
                          </div>
                          <div *ngIf="m.totalQuestions">
                            <button class="btn btn-outline-primary mr-1 mb-1" type="button" (click)="PassTheTest(m.id)">Take the Quiz</button>
                          </div>
                        </td>
                      </tr>
                      <pagination-controls (pageChange)="p = $event"></pagination-controls>
                      </tbody>
                    </table>
                    <!--List Events Ends-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
