<div class="wrapper">
  <div class="main-panel">
      <div class="content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">
                  <div class="card-header">
                    <h2 class="card-title">Pass the Quiz </h2>
                    <p  class="card-title"> <span class="ft-alert-triangle warning"> At least one answer is correct </span></p>
                    <h2>{{countDown | async}}</h2>
                    <h1>
                      {{hoursDisplay ? hoursDisplay : '00'}} : {{(minutesDisplay) && (minutesDisplay <= 59) ? minutesDisplay : '00'}} : {{(secondsDisplay) && (secondsDisplay <= 59) ? secondsDisplay : '00'}} <br/>
                    </h1>
                    <table show-filter="true" class="table">
                      <tbody>
                      <tr *ngFor="let q of questionList;let i= index">
                        <td>{{q.questionName}}
                          <div *ngIf="q.urlPicture !== null">
                            <div id="invoice-company-details" class="row">
                              <div class="col-6 text-left">
                                <img [src]="q.urlPicture.split('src/')[1]">
                              </div>
                            </div>
                           </div>
                          <br>
                          <label class="container">
                            <input type="checkbox" name="checkbox1" value="true" (change)="test(q.choice1,$event,q.id)">
                            <span class="checkmark"></span> {{q.choice1}}
                          </label><br/>

                          <label class="container">
                            <input type="checkbox" name="checkbox2" value="true" (change)="test(q.choice2,$event,q.id)">
                            <span class="checkmark"></span> {{q.choice2}}
                          </label><br/>

                          <label class="container">
                            <input type="checkbox" name="checkbox3" value="true" (change)="test(q.choice3,$event,q.id)">
                            <span class="checkmark"></span> {{q.choice3}}
                          </label><br/>

                          <label class="container">
                            <input type="checkbox" name="checkbox2" (change)="test(q.choice4,$event,q.id)">
                            <span class="checkmark"></span> {{q.choice4}}
                          </label><br/>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                    <button type="button" (click)="caluclScore()" class="btn btn-success">Result</button>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>

