<div class="wrapper">
  <div class="app-sidebar" data-active-color="white" data-background-color="black" data-image="assets/img/sidebar-bg/01.jpg">
    <app-sidebar></app-sidebar>
    <div class="sidebar-background"></div>
  </div>
  <div class="main-panel">
    <app-navbar></app-navbar>

    <div class="main-content">
      <div class="content-wrapper">
        <div class="container-fluid">
          <!-- Start Add New Event-->
          <section id="advanced">
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Add Answer to Question</h4>
                  </div>
                  <div class="card-body">
                    <div class="card-block">
                      <form #f="ngForm" (ngSubmit)="onSaveAnswers(f.value)" novalidate>
                        <input class="form-control" [(ngModel)]="question.questionName" type="text" name="questionName" disabled/>
                        <br>
                        <label class="control-label">Answer:</label>
                        <hr>
                        <input class="form-control" ngModel="" type="text" name="response1"  placeholder="Answer option 1" required/>
                        <label>Correct answer
                        <input type="checkbox" [(ngModel)]="isCorrect1"  name="checkbox1" value="true">
                        </label><br/>

                        <input class="form-control" ngModel="" type="text" name="response2"  placeholder="Answer option 2" required/>
                        <label>Correct answer
                          <input type="checkbox" [(ngModel)]="isCorrect2"  name="checkbox2" value="true">
                        </label><br/>

                        <input class="form-control" ngModel="" type="text" name="response3"  placeholder="Answer option 3" required/>
                        <label>Correct answer
                          <input type="checkbox" [(ngModel)]="isCorrect3"  name="checkbox3" value="true">
                        </label><br/>

                        <input class="form-control" ngModel="" type="text" name="response4"  placeholder="Answer option 1" required/>
                        <label>Correct answer
                          <input type="checkbox" [(ngModel)]="isCorrect4"  name="checkbox4" value="true">
                        </label><br/>


                        <br/>
                        <br>
                        <button [disabled]="!f.valid"  type="submit" class="btn btn-primary">Save</button>
                        <button type="button" (click)="returnToQuiz()" class="btn btn-danger">Cancel</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!--End Add New Event-->
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
